.login-box {
  max-width: 360px;
  margin: 48px auto;      
  padding: 32px;           
  border-radius: 24px;     
  background-color: var(--button-text);
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}


.login-box button {
  background: linear-gradient(90deg, var(--button-primary), var(--accent));
  color: var(--button-text);
}

.login-box button:hover {
  background: linear-gradient(90deg, var(--button-secondary), var(--accent));
}
