name: Backend CD

on: 
  push:
    branches: [main]
    paths: ['backend/**']
    
  pull_request:
    branches: [main]
    types: [closed]           # Only when PR is merged
    paths: ['backend/**']

jobs:
  backend-cd:
    runs-on: ubuntu-latest
    #environment: production
    
    steps:
    - name: Deploy to CapRover
      uses: caprover/deploy-from-github@v1.1.0
      with:
        server: '${{ secrets.CAPROVER_URL}}'
        app: 'backend'
        token: '${{ secrets.CAPROVER_APP_TOKEN_BACKEND}}'
        image: '${{ secrets.DOCKERHUB_USERNAME }}/bidgallery-backend:${{ github.sha }}'