name: Backend CD

on: 
  push:
    branches: [main]
    paths: ['backend/**']

  pull_request:
    branches: [main]
    types: [closed]           # Only when PR is merged
    paths: ['backend/**']

jobs:
  backend-cd:
    runs-on: ubuntu-latest
    #environment: production
    
    steps:
    - name: Deploy backend to CapRover
      run: |
        curl -X POST \
          "${{ secrets.CAPROVER_URL }}/api/v2/user/apps/appData/backend" \
          -H "Content-Type: application/json" \
          -H "x-captain-auth: ${{ secrets.CAPROVER_APP_TOKEN_BACKEND }}" \
          -d '{
            "instanceCount": 1,
            "imageName": "${{ secrets.DOCKERHUB_USERNAME }}/bidgallery-backend:latest"
          }