name: Backend CD

on: 
  push:
    branches: [main]
    paths: ['backend/**']

  pull_request:
    branches: [main]
    types: [closed]           # Only when PR is merged
    paths: ['backend/**']

jobs:
  backend-cd:
    runs-on: ubuntu-latest
    #environment: production
    
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Deploy to CapRover using CLI
      run: |
        npm install -g caprover
        caprover deploy \
          --caproverUrl ${{ secrets.CAPROVER_URL }} \
          --caproverApp backend \
          --caproverToken ${{ secrets.CAPROVER_APP_TOKEN_BACKEND }} \
          --imageName ${{ secrets.DOCKERHUB_USERNAME }}/bidgallery-backend:latest
    

   