
name: Frontend CD

on:
  push:
    branches: [main]
    paths: ['frontend/**']
    
  pull_request:
    branches: [main]
    types: [closed]           # Only when PR is merged
    paths: ['frontend/**']

jobs:
  frontend-cd:
    runs-on: ubuntu-latest
    
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Deploy to CapRover using CLI
      run: |
        npm install -g caprover
        caprover deploy \
          --caproverUrl ${{ secrets.CAPROVER_URL }} \
          --caproverApp frontend \
          --caproverToken ${{ secrets.CAPROVER_APP_TOKEN_FRONTEND }} \
          --imageName ${{ secrets.DOCKERHUB_USERNAME }}/bidgallery-frontend:latest
        