name: Frontend CI

on:
  pull_request:
    branches: [staging]
    paths: ['frontend/**']
  push:
    branches: [dev, staging] 
    paths: ['frontend/**']

jobs:
  frontend-ci:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json
        
    - name: Install dependencies
      run: npm ci
      working-directory: ./frontend
      
    - name: Run tests
      run: npm test
      working-directory: ./frontend
      
    - name: Build application
      run: npm run build
      working-directory: ./frontend
      
    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/bidgallery-frontend:${{ github.sha }} -f frontend/Dockerfile ./frontend
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/bidgallery-frontend:${{ github.sha }}# Trigger update
