
name: Frontend CD

on:
  push:
    branches: [main]
    paths: ['frontend/**']
    
  pull_request:
    branches: [main]
    types: [closed]           # Only when PR is merged
    paths: ['frontend/**']

jobs:
  frontend-cd:
    runs-on: ubuntu-latest
    
    steps:    
    - name: Deploy to CapRover
      uses: caprover/deploy-from-github@v1.1.0
      with:
        server: '${{ secrets.CAPROVER_URL}}'
        app: 'frontend'
        token: '${{ secrets.CAPROVER_APP_TOKEN_FRONTEND}}'
        image: '${{ secrets.DOCKERHUB_USERNAME }}/bidgallery-frontend:latest'
        